body{
    background-image: url("../../assets/img/wallp2.jpg");
    background-position: center;   
    background-repeat: repeat;
    /*background-size: 100% 500px;  */
}

#MainTable{
    width:100%;
    background-color:rgba(0, 0, 0, 0);
}

h1{
    font-family: arial;
    font-size: 70px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    /*color: rgba(255,255,255,0.6);*/
    color: rgba(14, 12, 110, 0.8);
}

h2{
    font-family: arial;
    font-size: 30px;
    font-weight: 50;
    text-align: center;
    /*color: rgba(255,255,255,0.3);*/
    color: rgba(14, 12, 110, 0.8);
}

h4{
    font-family: arial;
    color: rgba(255,255,255,0.8);
}
